.Home-Nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .Home-Nav {
    padding-right: 24px;
    padding-left: 24px;
    transform: translate3d(calc(-100% + 24px), 0, 0);
  }
}

.Home-Nav .Nav-Area {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  height: 100%;
  padding-top: 1.25rem;
}

.Home-Nav .Nav-Menu {
  text-align: center;
}

.Home-Nav .Nav-Menu .Menu-Link {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Home-Nav .Nav-Chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  background-color: #42ba96;
  cursor: pointer;
}

.Home-Nav .Nav-Chevron > i:nth-child(1) {
  display: inline;
}

.Home-Nav .Nav-Chevron > i:nth-child(2) {
  display: none;
}

.Home-Nav .Nav-Footer {
  margin-top: auto;
}

.Home-Nav_active {
  transform: translate3d(0, 0, 0);
}

.Home-Nav_active .Nav-Chevron > i:nth-child(1) {
  display: none;
}

.Home-Nav_active .Nav-Chevron > i:nth-child(2) {
  display: inline;
}