.Portfolio-Thumbnail {
  margin-bottom: 1.5rem;
}

.Portfolio-Menu {
  margin-bottom: 2rem;
}

.Portfolio-Menu .Menu-Item {
  display: inline-block;
}

.Portfolio-Menu .Menu-Item + .Menu-Item {
  margin-left: 1rem;
}

@media (max-width: 425px) {
  .Portfolio-Menu .Menu-Item {
    display: block;
  }

  .Portfolio-Menu .Menu-Item + .Menu-Item {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.Portfolio-Menu .Menu-Link_active {
  color: #1e1f26;
  text-decoration: none;
  pointer-events: none;
}
