.Preview-Nav .Nav-Inner, 
.Preview-Nav .Nav-Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Preview-Nav .Nav-Inner {
  height: 54px;
  border-bottom: 1px solid #f7f7f7;
}

.Preview-Nav .Nav-Menu {
  margin-top: 5px;
  margin-left: 11rem;
}

.Preview-Nav .Nav-Menu .Menu-Item {
  font-size: 20px;
}

.Preview-Nav .Nav-Menu .Menu-Item:nth-child(1) {
  font-size: 32px;
}

.Preview-Nav .Nav-Menu .Menu-Link {
  padding-right: 0.35rem;
  padding-left: 0.35rem;
  text-decoration: none;
}

.Preview-Main {
  height: calc(100vh - 54px);
  padding: 0.6rem 1rem;
  overflow: hidden;
}

@media (max-width: 424px) {
  .Preview-Main {
    padding: 0;
  }
}