.Profile-Content {
  text-align: center;
}

.Profile-Avatar {
  margin-bottom: 1.5rem;
}

.Profile-Btn {
  background-color: #42ba96 !important;
  border-color: #42ba96 !important;
}

.Profile-Btn:hover {
  background-color: #389e7f !important;
  border-color: #389e7f !important;
}

.Profile-Btn:active {
  background-color: #359478 !important;
}

@media (max-width: 960px) {
  .Profile-Btn > i {
    display: none;
  }
}